#tulisan{
	color: 10px;

	}
.box{
	background  : url('Himuo - Sponsor.jpg');
	color 		:white;
	
	width		:300px;
	height: 	: 100px;
}

.box-2{
	background 	: red;
	color  		: white;
	padding     : 50px;
	height 		: 100px;
	width  		: 200px;
	margin-left : 70px;
}

.tulisan_satu{
	color: red;
	font-family: sans-serif;
	font-style:normal;
}

.tulisan_dua{
	color: green;
	font-size:24pt;
	font-style: italic;
}

.tulisan_tiga{
	color: blue;
	font-weight:bold;
	font-style: oblique;
}

.link{

	font-size: 20pt;
}

.link:hover{
	color:black;
}

.link:link{
	color:blue;
}

.link:active{
	color:green;
}

.link:visited{
	background: yellow
}

link-2,
.link-2:link,
.link-2:active,
.link-2:visited{
	font-size: 20pt;
	background: #1ABC9C;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-family: sans-serif;	
}
 
.link-2:hover{
	background: #16A085;

}

.tulisan_tengah{
	text-align: center;
	text-transform: uppercase;
	text-indent: 30px;
	line-height: 30px;
	letter-spacing: 5px;
}

.tulisan_kiri{
	text-align: left;
	text-transform: lowercase;
	text-decoration: line-through;
	word-spacing: 10px;
}

.tulisan_kanan{
	text-align: right;
	text-transform: capitalize;
	text-decoration: overline;
}

.text_justify{
	text-align: justify;
}

.kotak1{
	background: blue;
	position : static;
}

.kotak2{
	background : red;
	position : relative;
	right : 40px;
	padding : 10px;
}

.kotak3{
	background : green;
	position : fixed;
	right : 40px;
	padding : 10px;
}

.line1{
	border-style:solid;
	border-width: 5px;
	border-color:red;
}

.line2{
	border-style:dotted;
	border-width:10px;
	border-left-color: cyan;
}

.line3{
	border-style:dashed;
	border-width:3px;
	border-top-color: red
}

.line4{
	border-style: double;
	border-width: 9px;
	border-color:blue;
}

.line5{
	border-style: groove;
	border-width: 25px;
	border-color:#12ff00;
}

ul.Food{
	list-style-type: square;

}

ul.Drink{
	list-style-type: circle;

}

ol.Place{
	list-style-type: upper-roman;
	
}

ol.Mobil{
	list-style-type: upper-alpha;
}