body{
	background: #35A9DB;
	font-family: roboto;
	text-align: center;
}

 h1,h2{
	color: #fff;
}
 
.center{
	margin: 10px auto;
	width: 1150px;
}

.center2{
	margin: 10px auto;
	width:  1150px;
}

.CircleStyle
{
	background: #fcfcfc;
	padding: 20px;
	width: 200px;
	float : left;
	margin:10px;
	height: 200px;
}


.Circle1{
	border-radius: 10px 10px 10px 10px;
}

.Circle2{
	border-radius: 40px 20px 60px 90px;
}
 

.Circle3{
	border-radius: 20px 10px 80px 10px;
}

.Circle4{
	border-radius: 0px 50px 0px 50px;
}

.Circle5{
	border-radius: 200px 0px 0px 0px;
}

.Circle6{
	border-radius: 100%;
}

.Circle7{
	border-radius: 40px 10px;
}

.Circle8{
	border-radius: 10px 10px 50% 50%;
}

.Box{
	background: blue;
	width:500px;
	height: 250px;
	float: left;
	margin :30px;
}

.Gradient1{
	background: linear-gradient(blue,green);
}

.Gradient2{
	background: linear-gradient(red,green,blue);
}
.Gradient3{
	background: radial-gradient(red,yellow,blue);
}
.Gradient4{
	background: linear-gradient(red,green);
}

.text1{
		text-shadow: 0px 0px 20px #232323;	
}

.text2{
	text-shadow: 0px 0px 20px;
}

.Box1{
	background:white;
	width: 300px;
	height: 300px;
	margin:20px;
	float: left;
	box-shadow:  20px 20px 40px 10px red;
}

.Box2{
	width: 300px;
	height: 250px;
	background: white;
	margin:20px;
	float: left;
	box-shadow: 0px 0px 10px 10px #333333;
}

.Box-Transform1{
	background: #fcfcfc;
	padding: 20px;
	float: left;
	margin: 20px;
	width: 150px;
	height: 150px;
}

.Box-Transform2{
	background: #fcfcfc;
	padding:20px;
	float:left;
	margin: 20px;
	width: 150px;
	height: 150px;
	transform: translate(100px,60px);
}

.Box-Scale1{
	background: #fcfcfc;
	padding: 20px;
	float: left;
	margin : 20px;
	width: 150px;
	height: 150px;
}

.Box-Scale2{
	background: #Fcfcfc;
	padding: 20px;
	float:left;
	margin:20px;
	width: 150px;
	height: 150px;
	transform: scale(1,2);
	-ms-transform: scale(1,2); 
    -webkit-transform: scale(1,2);
}

.Box-skew1{
	background: #fcfcfc;
	padding: 20px;
	float:left;
	margin: 50px;
	height: 150px;
	width: 150px;
}

.Box-skew2{
	background: #fcfcfc;
	padding:20px;
	float:left;
	margin: 50px;
	height: 150px;
	width: 150px;
	transform : skew(20deg);
	-ms-transform:skew(20deg);
	-webkit-transform:skew(20deg);
}

.Box-skew3{
	background: #Fcfcfc;
	padding: 20px;
	float: left;
	margin: 50px;
	height: 150px;
	width: 150px;
	transform: :skew(30deg,20deg);
	-ms-transform:skew(30deg,20deg);
	-webkit-transform:skew(30deg,20deg);
}

.Box-skew4{
	background: #fcfcfc;
	padding: 20px;
	float: left;
	margin :50px;
	height: 150px;
	width: 150px;
	transform: skewX(20deg)
	-ms-transform: skewX(20deg);
	-webkit-transform:skewX(20deg);
}

.Box-skew5{
	background: #fcfcfc;
	padding:20px;
	float: left;
	margin: 50px;
	height: 150px;
	width: 150px;
	transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-webkit-transform: skewY(20deg);
}

.Box-rotate1{
	background: #fcfcfc;
	padding: 20px;
	float:left;
	margin:50px;
	height:150px;
	width: 150px;
}

.Box-rotate2{

	background: #fcfcfc;
	padding:20px;
	float  :left;
	margin :50px;
	height :150px;
	width  :150px;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);

	
}

.Box-rotate3{
	background: #fcfcfc;
	padding: 20px;
	float: left;
	margin: 50px;
	height: 150px;
	width: 150px;
	transform: rotate(S);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.Box-rotate4{
	background: #fcfcfc;
	padding: 20px;
	float:left;
	margin:50px;
	height:150px;
	width: 150px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}

.Box-matrix1{
	background: #fcfcfc;
	padding: 20px;
	float:left;
	margin:50;
	height: 150px;
	width: 150px;


}

.Box-matrix2{
	background: #fcfcfc;
	padding: 20px;
	float:left;
	margin:50;
	height: 150px;
	width: 150px;
	matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())	
	transform: matrix(1,2,-1,1,5,4);
	-ms-transform: matrix(1,2,-1,1,5,4);
	-webkit-transform: matrix(1,2,-1,1,5,4);
}

.Box-transition1{
	background: #ffff;
	width:100px;
	height: 100px;
	transition: width 1s;
	-webkit-transition: width 1s;
	-ms-transition: width 1s;
	margin :50px;
	float:left;
	padding: 20px;
}

.Box-transition1:hover{
	width: 300px
}

.Box-transition2{
	background: #fff;
	width:100px;
	height: 100px;
	transition: width 1s, height 2s;
	-webkit-transition: width 1s,height 2s;
	-ms-transition: width 1s, height 2s;
	margin :50px;
	float:left;
	padding: 20px;
}

.Box-transition2:hover{
	width: 300px;
	height: 300px;
}

.Boxtr{
	width: 100px;
	background: #fff;
	height: 60px;
	margin: 10px;
	-webkit-transition: width 2s;
    transition: width 2s;
}

.Boxtr:hover{
	width: 400px;
}		

.Transition1{
	transition-timing-function: linear;
}

.Transition2{
	transition-timing-function: ease;

}

.Transition3{
	transition-timing-function: ease-in;
}

.Transition4{
	transition-timing-function: ease-out;
}

.Transition5{
	transition-timing-function: ease-in-out;
}

.Transition6{
	transition-timing-function: cubic-bezier(2,4,5,6);
}


.BoxAnim{
	background: blue;
	width: 200px;
	height: 200px;
	animation-name: Box_Animation;
	animation-duration: 2s;
}

@keyframes Box_Animation{
	from{background: blue;}
	to{background: red;}
}
