.biru {
	color:blue;
	text-align: left;
}

.hijau{
	color:green;
	text-align: right;
}

.merah{
	color:red;
	text-align: center;
}

.kuning{
	color:yellow;
}

h1{
	font-family: arial;
	text-shadow: 0px 15px 5px red;
	
}

h2 { 
	font-family: Arial;
	color: blue;
		text-decoration:underline;
		
}

body {
	font-size: 20pt;

}

/*p{
	font-size:12pt;
	font-family: generic-family;
	font-weight: lighter;
	font-style: normal;
	direction: ltr;
	text-align: justify;
	text-decoration:line-through;
	text-indent: 10%;
	text-transform: :capitalize;
	word-spacing: 10px;

	color:rgb(255,0,0);
} */

.style{
		font-size:20pt;
	font-family: generic-family;
	font-weight: lighter;
	font-style: normal;

	text-align: justify;
	text-decoration:none;
	text-indent: 10%;
	text-transform: :capitalize;
	word-spacing: 10px;

	color:black;
}

.style2{
	font-size:20pt;
	font-family: generic-family;
	font-weight: bold;
	font-style: italic;
	text-align: justify;
	text-decoration:none;
	
	text-transform: :capitalize;
	word-spacing: 10px;

	color:red;
}


p.satu{
	
}

p.dua{
	font-size: 0.35in;
}

p.tiga{
	font-size: 2.2pc;
}

p.empat{
	font-size:20px;
}

p.lima{
	font-size: 1.8em;
}

p.enam{
	font-size:3ex;
}

p.tujuh{
	font-size: 190%;
}

span{
	float: left;
	width: 0.7em;
	font-size: 400%;
	font-family: algerian;
	line-height: 80%; /* jarak antara paragraf */
}

div {
	float : right;
	width: 120px;
	padding : 15px;
	border: 1px solid;
	text-align: center;;
	line-height: 80%; /* jarak antara paragraf */
}

.scroll{
	background-color: cyan;
	width: 100px;
	height: 100px;
	overflow: scroll;
}

.hidden {
	background-color: red;
	width: 100px;
	height: 100px;
	overflow: hidden;
}